<div class="outro">Towards open digital publishing</div>
      <div class="separator"></div>
      <div class="links">
        <a href="http://interior.substance.io" target="_blank">Interior</a><span>&nbsp;·&nbsp;</span>
        <a href="http://github.com/substance" target="_blank">Source Code</a><span>&nbsp;·&nbsp;</span>
        <a href="http://pledgie.com/campaigns/18902" target="_blank">Campaign</a><span>&nbsp;·&nbsp;</span>
        <a href="http://twitter.com/_substance" target="_blank">Twitter</a></div>
      </div>