<div class="title">
        <a href="/">Substance</a>
      </div>

      <div class="menu">
        <a href="/explore" class="explore">Explore</a>
        <a href="/blog/2013/02/01/the-new-substance-is-here" class="blog">Blog</a>
        <a href="/" class="info">Info</a>
      </div>

      <img src="/images/separator.png">