extends layout

block content
  #blog
    <h1>The New Substance is here</h1>
    <p>For the last couple of years we have been trying to figure out <a href="http://blog.okfn.org/2013/01/15/content-as-data-towards-open-digital-publishing-with-substance/">a better way of working with digital documents</a>. From content creation to publishing we believe that there should be better tools that address the problem from a fresh angle. After the first release of our web-based Substance.io platform, with most of the functionality in place, we took a step back and decided to give the whole thing a new spin, and that's how the new Substance platform came to be.

    </p>
    <h2>Substance Alpha</h2>
    <p>The new Substance platform is released as <a href="http://interior.substance.io">Open Source</a> and comes with a completely new architecture that allows us to detach the presentation layer from your actual content.

    </p>
    <iframe src="http://player.vimeo.com/video/56703462" width="400" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

    <p>We provide you with a native application, the <a href="http://interior.substance.io/modules/composer.html">Substance Composer</a> from where you create your documents, and work on them locally until they are ready to be published to the Substance.io. Behind the scenes your document is handeled by the <a href="http://interior.substance.io/modules/document.html">Substance Document</a> an open source library, wich is one of the key ingredients of the new architecture, designed to manage any content type.

    </p>
    <h2>What's new?</h2>
    <h3>Structured Composition</h3>
    <p>By considering a document as a sequence of content elements rather than one big chunk of formatted text, Substance provides a nice way of writing semantically structured content.

    </p>
    <h3>Annotations</h3>
    <p>(screenshots annotations UI)

    </p>
    <h3>Incremental text updates</h3>
    <h3>Full Version history of your documents</h3>
    <p>(image showing undo/redo flow)

    </p>
    <h3>Replication</h3>
    <p>On demand you can synchronize backup your document's with the Substance.io server.

    </p>
    <p>(image showing replication)

    </p>
    <h3>New Publishing workflow (publish with a single click)</h3>
    <p>A published Substance document looks like this: link to example doc

    </p>
    <p>(image showing publish button)

    </p>
    <p>Explain republish (change management)

    </p>
    <p>(image showing republish)


    </p>
    <h2>What's next</h2>
    <p>The following features have been there already and need to be revitalized.

    </p>
    <h3>Images, links and lists</h3>
    <p>These features have been there already and need just to be revitalized.

    </p>
    <h3>Collaborative editing</h3>
    <p>We'd like to add features that allow a collabortive editing workflow. You'll be able to invite people to contribute (review, co-edit) to your document.

    </p>
    <h3>Exporting</h3>
    <p>We'll add export features (PDF, LaTeX).


    </p>

    <h1>Help us</h1>
    <p>After a two-year experimental phase, our next goal is getting it ready for production. So we sat down, worked out a roadmap and launched a campaign to back development costs.

    </p>
    

    .centered
      | <a href="http://www.pledgie.com/campaigns/18902"><img alt="Click here to lend your support to: Substance and make a donation at www.pledgie.com !" src="http://www.pledgie.com/campaigns/18902.png?skin_name=chrome" border="0" /></a>    

    </p>
    <p>With the help of your donation we could make it happen, which is exciting! If you like the ideas proposed and want to see them in action, please support us.
    </p>
    </div>

  