<% layout('old-layout') -%>
<div class="documents">
  <% if (documents && documents.length > 0) { -%>

    <% documents.forEach( function( doc ){ -%>
      <a href="/documents/<%= doc.id%>" class="document">
          <div class="title"><%= doc.title -%></div>
          <div class="author"><%= doc.creator -%></div>
          <div class="created-at"><%= util.timeago(doc.created_at) -%></div></a>
    <% }); -%>

  <% } else { -%>
    <div class="no-documents">No published documents yet</div>
  <% } -%>
</div>