extends layout

block content
  div.documents
    if documents && documents.length > 0
      for doc in documents
        a.document(href="/documents/"+doc.id)
          div.cover
            img(src=doc.cover)
          div.title= doc.title
          div.author= doc.creator

          div.created-at= util.timeago(doc.created_at)
    else
      .no-documents No published documents yet