extends layout

block content
  h1 Documents

  div.documents
    if documents
      for doc in documents
        a.document(href="/documents/"+doc.id)
          div.title= doc.title
          div.author= doc.creator
          div.created-at= util.timeago(doc.created_at)
