<% layout('old-layout') -%>
<div id="info">
  <div class="intro">
    <a href="/blog"><b>Substance</b></a> is an <em>open</em> platform for <em>collaborative</em> creation and sharing of digital documents. Be your own publisher and produce <em>stories</em>, <em>books</em> and <em>documentations</em>.
  </div>

  <img src="/images/separator.png">

  <h2>Download The Composer</h2>
  <p class="descr">
    The Substance Composer is a desktop application (Mac OSX), where you create and manage digital documents. While traditional text editors usually deal with visual information (emulating its representations on paper), the Substance Composer is developed around the idea that content is data. Its structured document composition allows documents to be stored and represented in multiple arbitrary ways. On top of that, with its collaborative features you can annotate, comment and revise your content.
  </p>

  <img id="composer" class="composer-img" src="images/composer.png" width="800">

  <a href="/downloads/Substance.zip" class="button download">Download v0.1.0</a>

  <h2>Explore Publications</h2>
  <p class="descr">
    <a href="/explore">Explore</a> a first set of publications made on the new Substance platform. With Substance.io we are building an open document repository, available to anyone.
  </p>

  <img class="composer-img" src="images/explore.png" width="800">

  <a href="/explore" class="button explore">Explore Publications</a>

  <h2>Help Us</h2>
  <p class="descr">
    After a two-year experimental phase, we're turning Substance into a production system. So we sat down, worked out a roadmap and launched a <a href="http://www.pledgie.com/campaigns/18902" target"_blank"="">campaign</a> to back development costs.
  </p>
  <p class="descr centered">
    <a href="http://www.pledgie.com/campaigns/18902">
      <img alt="Click here to lend your support to: Substance and make a donation at www.pledgie.com !" src="http://www.pledgie.com/campaigns/18902.png?skin_name=chrome" border="0">
    </a>
  </p>
  <p class="descr">
    With the help of your donation we could make it happen, which is exciting! If you enjoy using Substance and want to see more, please support us.</p>
</div>