!!! 5
html
  head
    != css('style')
    title Substance - Towards open digital publishing
  body(class="section-#{section}")
    #header
      <div class="title"><a href="/">Substance</a></div>
      <div class="subtitle">Towards open digital publishing</div>
      <div class="separator"></div>
    #content
      block content
    #footer
      .left
        &copy; 2010 - 2013 Substance.io
      .right
        <a href="http://interior.substance.io" target="_blank">About</a> &middot;
        <a href="http://github.com/substance" target="_blank">Source Code</a> &middot;
        <a href="http://twitter.com/_substance" target="_blank">Twitter</a>