!!! 5
html
  head
    != css('style')
    title Substance - Towards open digital publishing
  body(class="section-#{section}")
    #header
      .title: a(href="/") Substance
      .subtitle Towards open digital publishing
      .separator
    #content
      block content
    #footer
      .left
        &copy; 2010 - 2013 Substance.io
      .right
        a(href="http://interior.substance.io",target="_blank") About
        span &nbsp;&middot;&nbsp;
        a(href="http://github.com/substance",target="_blank") Source Code
        span &nbsp;&middot;&nbsp;
        a(href="http://twitter.com/_substance",target="_blank") Twitter
