!!! 5
html
  head
    != css('style')
    != css('highlight')

    title Substance - Towards open digital publishing
  body(class="section-#{section}")
    #header
      .title: a(href="/") Substance
      .menu
        a.explore(href="/explore") Explore
        a.blog(href="/blog/2013/02/01/the-new-substance-is-here") Blog
        a.info(href="/") Info
      img(src="/images/separator.png")
    #content
      block content
    #footer
      div.outro Towards open digital publishing
      div.separator
      div.links
        a(href="http://interior.substance.io",target="_blank") Interior
        span &nbsp;&middot;&nbsp;
        a(href="http://github.com/substance",target="_blank") Source Code
        span &nbsp;&middot;&nbsp;
        a(href="http://pledgie.com/campaigns/18902",target="_blank") Campaign
        span &nbsp;&middot;&nbsp;
        a(href="http://twitter.com/_substance",target="_blank") Twitter
    include ga.html