extends layout

block content
  div.networks
    if networks && networks.length > 0
      for network in networks
        a.network(href="/"+network.id,style="background: "+network.color+";")
          div.name= network.name
          div.descr= network.descr
    else
      .no-documents No networks found.