extends layout

block content
  div.user-profile= username
    's documents
  div.documents
    if documents.length > 0
      for doc in documents
        a.document(href="/documents/"+doc.id)
          div.title= doc.title
          div.author= doc.creator
          div.created-at= util.timeago(doc.created_at)
    else
      .no-documents No published documents yet