extends layout

block content
  h1 Signup
  if !user
    form(action="/signup",method="post")
      label: input(name="username",placeholder="Username")
      label: input(name="email",type="email",placeholder="Email")
      label: input(name="password",type="password",placeholder="Password")
      button(type="submit") Go!
  else
    p You are authenticated.
