
@charset 'utf-8';

@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400italic,700italic,400,700");


html {
  -webkit-font-smoothing: antialiased;
}

body {
  /*background: #F0F1EB;*/
  background: #E9EAE5;
  color: #444;
  margin: 0;
  padding: 0;
  /*font-family: 'Baskerville', 'Lato';*/
  font-family: 'Open Sans';
  font-weight: 400;
  color: #222;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}


a:hover {
  color: rgba(111, 106, 70, 1.0);
}

#header {
/*  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;*/
  height: 50px;
  z-index: 200;
  background: #111;
}

#header .header-inner {
  overflow: auto;
}

#header .title {
  float: left;
  font-size: 26px;
  padding: 0 10px;
  margin-left: 80px;
  line-height: 50px;
  font-family: 'Baskerville', 'Lato';
}

#header .title:hover {
  background: rgba(0,0,0, 0.2);
}

#header a {
  height: 50px;
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
  color: rgba(255,255,255, 0.7);
}

#header a:hover {
  color: rgba(255,255,255, 1.0);
}

#header .network {
  float: left;
  margin-left: 80px;
  line-height: 50px;
  font-weight: bold;
  padding: 0 20px;
}

#header .document {
  float: left;
  line-height: 50px;
  font-weight: bold;
  padding: 0 20px;
  color: rgba(255,255,255, 1);
}

#header .network:hover {
  background: rgba(0,0,0, 0.2);
}

.section-info #header a.info {
  color: rgba(111, 106, 70, 1.0);
  /*font-weight: bold;*/
}

.section-blog #header a.blog {
  
  color: rgba(111, 106, 70, 1.0);
  /*font-weight: bold;*/
}

.section-explore #header a.explore {
  color: rgba(111, 106, 70, 1.0);
  /*font-weight: bold;*/
}

#header .menu {
  text-align: center;
  font-family: 'Open Sans';

  font-size: 16px;
  margin-bottom: 40px;
}

#header .menu a {
  display: block;
  float: left;
  background: #333;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
  color: rgba(111, 106, 70, 0.5);
}

#header .menu a:hover {
  color: rgba(111, 106, 70, 1.0);
}

#header .subtitle {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #888;
}

#header .navigation {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #888;
}


#footer {
  /*margin: auto;*/
  /*text-align: center;*/
  overflow: auto;
  /*margin-top: 50px;*/

  background: #E9EAE5;
  border-top: 1px solid #CBCBCB;

  font-size: 14px;
  padding: 10px 0;
  padding-top: 50px;

  /*color: rgba(111, 106, 70, 1.0);*/
  color: rgba(0,0,0, 0.7);
  /*background: #333;*/
}

#footer .footer-inner {
/*  width: 650px;
  margin: auto;*/
  margin-left: 80px;
}

#footer .outro {
  font-size: 20px;

}
#footer .separator {
  margin: 0 auto;
  height: 1px;
  width: 160px;
  margin-top: 10px;
  background: rgba(0,0,0, 0.4);
}

#footer .links {
  margin-top: 10px;
  margin-bottom: 20px;
}

#footer a {
  text-decoration: none;
}

#footer .left {
  float: left;
}

#footer .right {
  float: right;
}

/* Legacy styles
-------------------------------------------------------------------------------*/


header h1,
header h2 {
  padding: 0;
  margin: 10px 1em;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 26px;
}

header h1 a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

header menu {
  padding: 0;
  margin: 10px 1em;
  float: right;
}

header menu .info {
  color: white;
  font-weight: normal;
  margin: 0 10px;
}

header .avatar {
  vertical-align: middle;
  border-radius: 4px;
  position: relative;
  top: -1px;
}

header menu .block {
  padding: 10px 20px;
  margin: 0 0 0 10px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  line-height: 20px;
  min-height: 20px;
}

header menu .action {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

header menu .action:hover,
header menu .action:focus {
  background: rgba(0, 0, 0, 0.5);
}

#content {
  background: #F0F1EB;
/*  width: 800px;
  margin: auto;*/
}

#settings-sidebar {
  text-align: center;
  border-bottom: 1px solid #CCC;
}

#settings-sidebar a {
  display: inline-block;
  padding: 1em;
  margin-bottom: -1px;
  border-bottom: 1px solid #BBB;
  text-decoration: none;
  color: #888;
}

#settings-sidebar a.current {
  border-bottom-color: #222;
  color: #222;
}

/* User Profile
-------------------------------------------------------------------------------*/


.user-profile {
  font-size: 40px;
  text-align: center;
  padding: 30px;
}


/* Blog
-------------------------------------------------------------------------------*/

#blog {
  font-size: 20px;
  line-height: 1.8em;
  color: rgba(0,0,0, 0.8);
}

#blog h1, #blog h2, #blog h3, #blog h4 { font-weight: normal; }


#blog p {
  margin-bottom: 50px;
}

#blog img {
  max-width: 800px;
}

/* Documents Listing
-------------------------------------------------------------------------------*/

.documents {
  overflow: auto;
}

.documents .no-documents {
  font-size: 20px; 
  margin-right: 80px;
  margin: 50px 0;
  color: rgba(0,0,0,0.3);
}

.documents a.document {
  text-decoration: none;
  display: block;
  float: left;
  height: 280px;
  width: 200px;

  margin-bottom: 20px;
  margin-right: 20px;
  opacity: 0.8;
  color: #444;
  position: relative;
  background: white;
  border: 1px solid rgba(0,0,0, 0.2);
}

.documents a.document .cover {
  overflow: hidden;
  height: 100px;
  margin: 10px;
}

.documents a.document .cover img {
  
  /*width: 200%;*/
}

.documents a.document:hover {
  opacity: 1.0;
}

.documents .document .title {
  line-height: 80px;
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(0,0,0,0.8);
  position: absolute;
  top: 100px;
  left: 10px;
}

.documents .document .author {
  text-align: right;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 200px;
}


.documents .document .created-at {
  text-align: right;
  position: absolute;
  left: 10px;
  bottom: 10px;

  font-size: 12px;
  color: #777;
}


/* Home page
-------------------------------------------------------------------------------*/


#info {
  font-size: 20px;
  width: 650px;
  /*margin: auto;*/
  margin-left: 80px;
}

#info img {
  max-width: 650px;
}

.info-header {
  height: 100px;
  background: #333;
}

#info .intro {
  color: rgba(111, 106, 70, 1.0);
  margin-top: 60px;
  padding-bottom: 40px;
  font-size: 25px;
}

#info a.button {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 25px;
  background: rgba(94, 91, 72, 0.9);
  color: rgba(255,255, 255, 0.9);
  text-decoration: none;
  text-align: center;
  line-height:50px;
  border-radius: 5px;
  margin: 40px auto;
}

#info a.button:hover {
  background: rgba(94, 91, 72, 1.0);
}

#info h2 {
  font-weight: normal;
  margin-top: 60px;
  font-family: 'Open Sans Condensed', sans-serif;
}

p.descr {
  line-height: 1.8em;
  margin-bottom: 40px;
}

.centered {
  text-align: center;
}

/* Document
-------------------------------------------------------------------------------*/

#document {
 font-size: 20px;
 line-height: 1.8em;
 color: rgba(0,0,0, 0.8);
}



#document .nodes {
  padding-top: 50px;
  width: 650px;
  font-size: 18px;
  margin-left: 80px;
  color: #444;
}

#document p {
  margin-bottom: 40px;
}

#document .nodes img {
  max-width: 650px;
}

#document .nodes pre {
  padding: 20px;
  overflow: auto;
  font-size: 12px;
  background: #fff;
}

#document h2 {
  font-weight: normal;
}

#document span.str {
  font-weight: bold;
}

#document span.em {
  font-style: italic;
}

#document span.idea {
  background: rgba(102, 182, 32, 0.5);
}

#document span.question {
  background: rgba(16, 167, 222, 0.5);
}

#document span.error {
  background: rgba(237, 96, 48, 0.5);
}


#document .cover {
  z-index: 2;
  overflow: hidden;
  max-height: 400px;
}

#document .cover img {
  width: 100%;
}

#document .meta {
  background: #E9EAE5;
  border-bottom: 1px solid #CBCBCB;
}

#document .meta .meta-inner {
  width: 650px;
  margin-left: 80px;
}

#document .title {
  /*color: rgba(111, 106, 70, 1.0);*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  font-weight: bold;

  /*text-align: center;*/
  line-height: 70px;
}

#document .author {
  /*text-align: center;*/
  font-weight: 300;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 80px;
  color: rgba(111, 106, 70, 1.0);
}

#document .date {
  padding-top: 40px;
  font-size: 20px;
  font-family: 'Open Sans';
  color: rgba(111, 106, 70, 1.0);
  margin-bottom: 30px;
}

.start-writing {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid rgba(0,0,0, 0.05);
  border-bottom: 1px solid rgba(0,0,0, 0.05);
  /*text-align: center;*/
  font-weight: lighter;
  font-size: 30px;
}

#document .abstract {
  /*font-style: italic;*/
  color: rgba(0,0,0, 0.5);
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 60px;
  margin-top: 40px;
}


/* Networks
-------------------------------------------------------------------------------*/

.networks-header {
  height: 100px;
  background: #333;
}

.networks {
/*  width: 650px;
  margin: auto;*/
  margin-left: 80px;
  overflow: auto;
  padding: 40px 0;
}

.networks .network {
  opacity: 0.9;
  display: block;
  overflow: hidden;
  float: left;
  height: 150px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.networks .network img {
  /*display: none;*/
}

.networks .network .name {
  position: absolute;
  top: 20px;
  left: 0px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  /*background: rgba(0,0,0,0.8);*/
}

.networks .network .descr {
  position: absolute;
  top: 70px;
  left: 0px;
  color: rgba(255,255,255,0.6);
  font-size: 13px;

  /*color: #fff;*/
  padding: 5px 20px;
  /*background: rgba(0,0,0,0.8);*/
}

.networks .network:hover {
  opacity: 1;
}




/* Network Details
-------------------------------------------------------------------------------*/

.network-details {

}

.network-details .meta {
  background: #E9EAE5;
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 50px;
}

.network-details .meta .meta-inner {
  margin-left: 80px;
}

.network-details .meta .meta-inner .name {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 0;
  font-size: 40px;
  color: rgba(0,0,0,0.8);
}

.network-details .meta .meta-inner .descr {
  /*font-weight: 300;*/
  color: rgba(0,0,0,0.6);
  font-size: 20px;
}

.network-details .cover {
  z-index: 2;
  overflow: hidden;
  max-height: 200px;
}

.network-details .cover img {
  width: 100%;
}

#content .documents {
  padding: 40px 0;
  margin: 0 80px;
}
