
@charset 'utf-8';

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700");

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #F0F1EB;
  color: #444;
  margin: 0;
  padding: 0;
  font: normal 14px/20px 'Open Sans',Arial,sans-serif;
  font-weight: 400;
  color: #444;
}

header {
  background: #3D3D34;
  color: #EEE;
  padding: 0;
  margin: 0;
  /*height: 60px;*/
  overflow: hidden;
}

header h1,
header h2 {
  padding: 0;
  margin: 10px 1em;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 26px;
}

header h1 a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

header menu {
  padding: 0;
  margin: 10px 1em;
  float: right;
  /*height: 40px;*/
}

header menu .info {
  color: white;
  font-weight: normal;
  margin: 0 10px;
}

header .avatar {
  vertical-align: middle;
  border-radius: 4px;
  position: relative;
  top: -1px;
}

header menu .block {
  padding: 10px 20px;
  margin: 0 0 0 10px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  line-height: 20px;
  min-height: 20px;
}

header menu .action {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

header menu .action:hover,
header menu .action:focus {
  background: rgba(0, 0, 0, 0.5);
}

#content {
  padding: 2em;
}

#settings-sidebar {
  text-align: center;
  border-bottom: 1px solid #CCC;
}

#settings-sidebar a {
  display: inline-block;
  padding: 1em;
  margin-bottom: -1px;
  border-bottom: 1px solid #BBB;
  text-decoration: none;
  color: #888;
}

#settings-sidebar a.current {
  border-bottom-color: #222;
  color: #222;
}


/* Documents Listing
-------------------------------------------------------------------------------*/

.documents {
  overflow: auto;
}

.documents a.document {
  text-decoration: none;
  float: left;
  display: block;
  width: 200px;
  height: 280px;
  margin-right: 10px;
  margin-bottom: 10px;

  color: #444;

  float: left;
  position: relative;

  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
}


.documents .document .title {
  padding: 10px;
  font-family: 'Palatino Linotype', 'Merriweather';
  font-size: 16px;
}

.documents .document .author {
  padding: 0 10px;
  font-size: 14px;
}

.documents .document .author a {
  border: none;
}

.documents .document .created-at {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 12px;
  color: #777;
}


/* Document
-------------------------------------------------------------------------------*/

#document {
 margin: auto; 
 width: 700px;
 padding: 100px;
 background: white;
 margin-top: 60px;
 font-family: 'Palatino Linotype', 'Merriweather';

  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
}


#document .title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

#document .author {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

#document .date {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}

#document .abstract {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}